.page {
    width: 100%;
    height: 1626px;
    margin: 0 auto;
}

.navbar-list {
    list-style: none; /* Убирает маркировку списка */
    text-align: center; /* текст горизонт по центру */
}
.navbar-item {
    display: inline-block; /* располож пункты горизонтально */
    margin-right: 22px;
}

.navbar-item-link {
    display: block; /* ссылка растяг на весь пункт li */
    text-decoration: none; /* убр ниж подчёрк у ссылок */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    margin: 25px 65px;
}

.navbar-img {
    width: 100%;
    display: block;
    margin: 20px 0 49px 0;
}

.main-content {
    text-align: center;
    margin-right: 67px;
    margin-left: 67px;
}
.main-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.first-paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 38px 0 28px 0;
}
.second-paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.btn-started {
    background: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 66px 0;
    cursor: pointer;   /*При наведении на кнопку - курсор*/
}
.btn-started:hover { 
    background: blue;   /* Ссылки при наведении меняет цвет */
}

.footer-paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items:center;
    letter-spacing: 2.4px;
    color: #373737;
    padding: 40px 105px 29px 713px;
}